# Build third party library
[tool.cibuildwheel]

build-frontend = { name = "pip", args = ["--no-build-isolation"] }

build = [
  "cp39-*",
]

skip = [
  "*musllinux*",
]

# Install system library
[tool.cibuildwheel.linux]

# global setup
before-all = [
  "./apply-patches.sh",
  "./install-build-dependencies.sh",
  "./build-gfal2.sh",
  "./get-boost.sh",  
]

# needs to be build for each python version
before-build = [
  "./build-boost.sh",
  "pip install setuptools",
]
