# Build third party library
[tool.cibuildwheel]

build = [
  "cp39-*",
]

before-all = [
  "./apply-patches.sh",
]

# Install system library
[tool.cibuildwheel.linux]

# global setup
before-all = [
  "./install-build-dependencies.sh",
  "./build-gfal2.sh",
  "./get-boost.sh",
]

# needs to be build for each python version
before-build = [
  "./build-boost.sh",
]

[tool.cibuildwheel.environment]
CMAKE_POLICY_VERSION_MINIMUM = "3.5"
